<form action="/create" method="POST">
    <label>Title</label>
    <input type="text" name="title">
    <br>
    <label>Description</label>
    <input type="text" name="body">
    <br>
    <input type="submit" value="SAVE">
</form>